.innerHeaderContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.innerHeaderContainer:hover {
    cursor: pointer;
}

.activeHeader:nth-child(1) {
    background-color: #0d66e5;
    color: white;
    border-radius: 2px 0 0 2px;
}

.activeHeader:nth-child(2) {
    background-color: #0d66e5;
    color: white;
    border-radius: 0px;
}

.activeHeader:nth-child(3) {
    background-color: #0d66e5;
    color: white;
    border-radius: 0 2px 2px 0;
}